
<%= link_to rooms_path do %>
  <i class="fas fa-arrow-left"></i>
<% end %>
Back to index

<h2><%=@room.hotel.name%></h2>
<h5><%= @room.price_per_night%>$/night</h5>
<h5><%= @room.hotel.address%></h5>

<%#= render "form", booking: @booking %>


  <%= simple_form_for [@room, Booking.new] do |f| %>
  <div class="d-flex">
    <%= f.input :sarts_at, as: :string, required: false, input_html: { id: "range_start" } %>
    <%= f.input :ends_at, as: :string, required: false, input_html: { id: "range_end" } %>
  </div>
      <%= f.button :submit, "Go", class: "btn btn-primary" %>
  <% end %>
